@import "_nullstyle.scss";
:root{
    --index: calc(1vw + 1vh);
    --text:  #e7e7e0;
    --transition: transform .75s cubic-bezier(.075,0.5,0,1)
}
@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-regular.woff2);
    
}
@font-face {
    font-family: raleway_f;
    src: url(../fonts/raleway-black.woff2);
    font-weight: 900;
}

body{
    font-family: raleway_f, sans-serif;   
    line-height: 1.55;
}
.content{
    will-change: transform;
}

.header{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        z-index: 100;
        width: 100%;
        height: calc(var(--index) * 10);
        bottom: calc(var(--index) * -4.5);
        background-image: url(../img/ground.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.layers{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    position: relative;

    &__background{   
        height: 100%;
        width: 100%;
        position: absolute;
        background-size: cover;
        background-position: center;
        will-change: transform;
        z-index: 2;
        transition: var(--transition);
    }
    &__back{
        transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0) ;
        z-index: 0;
    }
    &__middle{
        transform: translate3d(0, calc(var(--scrollTop)/2.5),0);
    }
    &__front{
        transform: translate3d(0, calc(var(--scrollTop)/5.7),0);
    }
}   
.layer-content{
    z-index: 1;
    transform: translate3d(0, calc(var(--scrollTop)/2),0);
    will-change: transorm;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--text);
    text-shadow: 0 0 15px #b7903c, 0 0 20px #b7903c;
    transition: var(--transition);

    &__title{
        font-size: calc(var(--index) / 1.175);
        letter-spacing: calc(var(--index)/3.5);
        margin-top: calc(var(--index)* -1);  
    }
    &__subtitle{
        font-size: calc(var(--index) * 2.5);
        letter-spacing: calc(var(--index)/1.5);
    }
}
    

//---------------------------PAGE-----------------------------

.page{
    --main-page-transofrm: translate3d(0, calc(var(--scrollTop)/-7.5),0);
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    color: var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    &__content-title{
        font-weight: 900;
        text-transform: uppercase;
        font-size: calc(var(--index)* 1.8);
        letter-spacing: calc(var(--index) / 7.5);
        transform: var(--main-page-transofrm);
        will-change: transform;
        transition: var(--transition);

    }
    &__content-text{
        max-width: calc(var(--index)* 28);
        font-size: calc(var(--index)* .9);
        margin-top:  calc(var(--index)/ 1.25 );
        transform: var(--main-page-transofrm);
        will-change: transform;
        transition: var(--transition);

    }
    &__footer-copy{
        position: absolute;
        bottom: calc(var(--index)* 2.5);
        opacity: 0.45;
        font-size: calc(var(--index)* .75);
        letter-spacing: calc(var(--index)/ 37.5);
    }
}
